@using ZUSE.Shared.Models;
@using ZUSE.Client.Models;

<div class="cardsView">
    @*@if(filteredSessions is not null)*@
    @foreach (var item in sessions)
    {
        @*@onmouseup="args => OnMouseUp(item, args)" @onmouseout="args => OnMouseOut(item, args)" @onmousedown="OnMouseDown" @onmousemove="args => OnMouseMove(item, args)"*@
        <div id="orderCard" class="orderCard"
             style="grid-row: @item?.ui?.gridSpan;">
            <div style="background-color: @item?.ui?.timeStamp_color" class="orderCardHeader" @onclick="() => OnBump(item)">
                <div class="orderReference"
                     style="background-color: @item?.ui?.orderReference_color;">
                    <strong>
                        @item?.order_number
                    </strong>
                    @if (isRetail)
                    {
                        <div style="font-size: 15px; text-align: center;">
                                @item?.customerObject?.name
                                @*@item?.customer*@
                        </div>
                    }
                </div>
                <div class="orderType">

                    <img src=@item?.ui?.orderTypeImgSource />
                    @item.ui.orderTypeTitle
                </div>
                <div class="orderTimeInfo">
                    <div class="orderCreationTimeStamp">
                        @(item.ui.orderTimeSpan)
                    </div>
                </div>
            </div>
            <ul class="orderCardDetials">
                @if(!string.IsNullOrEmpty(item?.table_name))
                {
                    <div class="orderAdditionalInfo">
                            table: @item.table_name
                            
                    </div>
                 }
                <div class="orderAdditionalInfo">
                    @item.kitchen_notes
                </div>
                @foreach (var combo in item?.combosCollection)
                {
                    @*@combo.products.*@
                    <li class="orderDetail">
                        @combo.quantity x
                        @combo.combo_size.combo.name (@combo.combo_size.name)
                    </li>
                    <ul style="list-style-position: outside;">
                        @foreach (var collection in combo.products)
                        {
                            <li id="@collection.ui.orderDetail_styleClass" @onmouseup="() => { OnOrderDetailMouseUp(item, collection); }" class="orderDetail">
                                @collection.quantity x
                                @collection.product.name (@collection.kitchen_notes)
                            </li>
                        }
                    </ul>
                }
                @foreach (var collection in item?.productsCollection)
                {
                    if (categsFilter.Contains(collection?.product?.category?.name))
                    {
                        <li id="@collection?.ui?.orderDetail_styleClass" @onmouseup="() => { OnOrderDetailMouseUp(item, collection); }"
                            class="orderDetail">
                            @collection.quantity
                            <div style="font-size: 1.4vw; vertical-align: middle; display: inline-block;">
                                x
                            </div>
                            @collection.product.name
                            <ul class="item-note">
                                @collection.kitchen_notes
                            </ul>
                            <ul>
                                @if (collection.options is not null)
                                    @foreach (var option in collection.options)
                                    {
                                        <li id="@collection?.ui?.orderDetail_styleClass">
                                            @option.modifier_option?.name
                                        </li>
                                    }
                            </ul>
                        </li>
                    }
                }

            </ul>
            @*<div style="display: inline-block; width: 100%; height: 100vh; position: absolute; bottom: 0vh; border-bottom: 10px solid #C4C4C4;"></div>*@
        </div>
    }
</div>
@code {
    [Parameter]
    public List<KdsSession> sessions { get; set; }

    [Parameter]
    public bool isRetail { get; set; }

    [Parameter]
    public List<string> categsFilter { get; set; }

    [Parameter]
    public List<string> tablesFilter { get; set; }

    [Parameter]
    public Func<KdsSession, Task> OnBump { get; set; }

    [Parameter]
    public Func<KdsSession, ProductCollection,  Task> OnOrderDetailMouseUp { get; set; }


    [Parameter]
    public omsInteraction display { get; set; }
}

